/**

!.gitignore
!.gitconfig
!.zshrc
!.zshenv
!starship.toml
!/Notes/
!/Notes/**
!/Projects/
!/Projects/arch-setup/
!/Projects/arch-setup/**
!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/alacritty/
!/.config/alacritty/**
!/.config/zellij/
!/.config/zellij/**
!/.config/dconf/user
