/**

!.gitignore
!.zshrc
!.zshenv
!starship.toml
!/Notes/
!/Notes/**
!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/alacritty/
!/.config/alacritty/**
!/.config/zellij/
!/.config/zellij/**
!/.config/dconf/user
!/.local/share/gnome-shell/extensions/
!/.local/share/gnome-shell/extensions/**
